.start-gap li {
    margin-right: 2px;
}

.bottle-image-gap {
    margin-right: 9px;
}

.price {
    margin-top: -18%;
    margin-left: 67%;
}

.infor-font-size {
    font-size: 12px;
}

.star-text-gap {
    margin-right: 6px;
}

.point-gap {
    margin-right: 4px;
    font-weight: 700;
    font-size: 13px;
}

.rating-font-size {
    font-size: 13px;
}

.user-rating-radio input[type=radio]:checked {
    background: red;
}

.rs-slider-progress-bar {
    position: absolute;
    height: 6px;
    border-radius: 3px 0 0 3px;
    background-color: #ff3447;
}

.rs-slider-progress-bar:hover {
    cursor: grab;
}

.user-rating {
    margin-left: 58%;
    margin-top: -43%;
}

.user-rating-text-point {
    color: #a26f01;
    background-color: #f9f7d6;
    border-radius: 40%;
    padding: 4px;
}

.user-rating-text {
    font-size: 17px;
    font-weight: 400;
}

.usesr-rating-for-product:hover {
    background-color: wheat;
    padding: 8px;
}

.usesr-rating-for-product {
    padding: 8px;
}

.usesr-rating-by-text {
    background-color: rgb(242 236 226 / 0.5%);
    padding: 8px;
}

.user-name {
    margin-bottom: -15px;
    color: #760f0f;
    font-weight: 400;
}

.user-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-img {
    border-radius: 50%;
    height: 32px;
    margin-right: 10px;
}

.user-img:hover {
    cursor: pointer;
}

.user-rate-post-date {
    color: silver;
}

.user-rate-post-date:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(146, 145, 145);
}

.user-rateing-details {
    display: flex;
}

.top-header-1 {
    max-width: 90%;
    margin-left: 11% !important;
}

.screen-page {
    width: 76%;
    margin-left: 13%;
}

.navigation-links {
    width: 65%;
    margin-left: 19% !important;
}

.filter-cards .row .col {
    margin-bottom: 10%;
}

.footer-header-text {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    padding: 1em;
}

.footer-img {
    width: 48px;
    margin-right: 2%;
}

.foot-text {
    display: flex;
    width: 250px;
    padding: 4px;
}

.footer-section-1 {
    background-color: #f7f3f0;
    height: 219px;
}

.footer-desc {
    margin-left: 15%;
    display: flex;
}

.payment-method-icon {
    width: 48px;
    padding: 0.4em;
}

.store-icon {
    width: 120px;
}

.footer-section-2 {
    display: flex;
    background-color: #eae0da;
}

.icons-section {
    margin-left: 14%;
    width: 74%;
    margin-top: 1%;
}

.payment-option-infor {
    margin-left: 78%;
    font-size: 12px;
}

.social-link-section {
    display: flex;
    margin-top: 5px;
    height: 93px;
}

.social-link {
    width: 24px;
}

.footer-link {
    width: 85%;
}

.footer-link-text {
    margin-right: 20px;
    font-size: 12px;
}

.footer-image {
    margin-right: 10px;
}

.footer-logo {
    width: 20px;
}

.footer-link-text:hover {
    cursor: pointer;
}

.nav-items:hover {
    text-decoration: underline;
    cursor: pointer;
}